@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
  background-color: #171a21;
}

::-webkit-scrollbar {
  display: none;
}
